header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

}

.logo {
  font-size: 24px;
  display: block;
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
}

.logo__First {
  display: inline;
  font-weight: 500;
  color: #fff;
}

.logo__Last {
  display: inline;
  font-weight: 300;
  letter-spacing: -.4px;
  color: rgb(199, 199, 199);
}

header button {
  padding: 6px 30px;
  background-color: var(--accent);
  border: 1px solid rgb(128, 128, 128);
  color: rgb(192, 192, 192);
  border-radius: 4px;
}