.hero {
  height: 800px;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  width: 100%;
  height: 800px;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroVdo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* @media (max-aspect-ratio: 16/9) {
  .heroVdo {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .heroVdo {
    width: 100%;
    height: auto;
  }
} */


.hero .container {
  padding: 50px 0;
}

.hero .container .heroLeft {
  width: 500px;
  z-index: 10;
}

.hero .heroTitle {
  font-size: 46px;
  font-weight: 300;
  color: rgb(194, 194, 194);
  text-align: left;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.hero .heroTitle .highlight {
  display: inline;
  color: #fff;
}

.hero p.heroTxt {
  padding: 10px 0 0px;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(179, 179, 179);
  text-align: left;
  width: 800px;
  max-width: 96%;
  text-align: center;

}


.hero .herotoptxt {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 4px;
  display: block;
  text-align: left;
  margin: 590px 0 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;

}

.heroBtns {
  display: block;
  margin: 40px 0 0 0;
}

.hero a.cta1 {
  padding: 10px 30px;
  margin: 20px 20px 20px 0;
  background-color: var(--accent);
  color: #fff;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
}

.hero a.cta2 {
  padding: 10px 30px;
  margin: 20px 20px 20px 0;
  background-color: rgb(211, 211, 211);
  color: rgb(107, 107, 107);
  border: 0;
  border-radius: 4px;
  text-decoration: none;
}


@media only screen and (max-width: 800px) {

  .hero {
    height: auto;
  }

  .hero .container {
    padding: 30px 0;
  }

  .hero .heroTitle {
    padding: 20px 0 0 0;
    font-size: 32px;
  }


  .hero p.heroTxt {
    font-size: 16px;
  }

  .hero .container .heroLeft {
    width: 90%;
    margin: 0 auto;
  }

  .hero {
    background: var(--Bg2);
    background-repeat: no-repeat;
    background-size: auto;
  }

  .heroBtns a.cta1, .heroBtns a.cta2 {
    display: block;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px 20px;
  }

}