.defineUs {
  background-color: #f6fbfe;
  width: 100%;
  padding: var(--homeSection);

  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;

}

.defineUs h2, .windSection h2, .services h2, .customers h2, .solarSection h2, .footprint h2 {
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: var(--accent);
  padding: 20px 0 10px;
  text-align: center;
  line-height: 1;
}

.defineUsTxt1, .serviceText1, .footprint1 {
  font-size: 20px;
  color: var(--txtGrey2);
  text-align: center;
  width: 80%;
  line-height: 1.4;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {

  .defineUs h2, .services h2, .customers h2, .footprint h2 {
    font-size: 30px;
  }

  .defineUsTxt1, .serviceText1, .footprint1 {
    font-size: 16px;
  }
}

.defineUsBoxes {
  margin: 26px 0 0 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  overflow: auto;
  width: 100%;
}

.defineUsBox {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}


.defineUsBox h2 {
  padding: 10px;
  color: var(--accent);
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

.defineUsBox p {
  padding: 0 10px 14px;
  font-size: 14px;
  color: var(--txtGrey1);
}



/* services  */

.services, .customers, .footprint {
  background-color: #ececec;
  width: 100%;
  padding: var(--homeSection);
}

.services {
  background-color: #ececec;
}

.services .container .list {
  margin: 30px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.services .container .service {
  max-width: 400px;
  display: grid;
  grid-template-columns: 50px 1fr;
  margin: 20px 0 0 0;
}

.services .container .service h2 {
  text-align: left;
  font-size: 20px;
  padding: 0px 0 8px 0;
}

.services .container .service p {
  font-size: 14px;
  color: var(--txtGrey1);
}


.services .container .service .serviceIcon img {
  width: 24px;
  height: 24px;
  margin: 0px 0px;
}

@media only screen and (max-width: 500px) {
  .services .container .list {
    width: 90%;
    margin: auto;
  }
}


.customers {
  background-color: #ffffff;
}


/* footprint */

.footprint {
  background-color: #f4f4f6;
  color: rgb(90, 90, 90);
}

.footprint .map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footprint .countries {
  align-items: top;
  width: 230px;
}

.footprint .countries p {
  padding: 60px 0 20px;
  line-height: 1.6;
}


.footprint .countries ul {
  height: 360px;
}


.footprint .countries li {
  list-style: none;
  line-height: 1.6;
  padding: 0 0 0 20px;
  font-size: 18px;
}


@media only screen and (max-width: 800px) {
  .footprint .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .footprint .countries ul {
    columns: 3;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .footprint .countries {
    align-items: top;
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {

  .footprint .countries ul {
    columns: 2;
    height: auto;
    padding: 20px 0 20px 0;
  }

}


/* Customers   */


.customers .container .logoBox {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


.logoBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBox .logo {
  width: 120px;
  height: auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .customers .container .logoBox {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }

  .logoBox .logo {
    width: 180px;
  }



}


/* Wind Section */

.windSection {
  min-height: 800px;
  padding: 20px 0;
  background-color: rgb(220, 220, 242);
  background-image: url(../img/pics/pic_windturbine_3.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  position: relative;
}

.windSection h2 {
  color: #fff;
}

.windSection .content {
  width: 600px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  left: 300px;
}


.windSection .content h2 {
  text-align: left;
  padding: 10px 0 6px 0;
  color: rgb(71, 71, 71);
}


.windSection .content p {
  color: rgb(117, 117, 117);
  font-size: 1em;
  line-height: 1.6;
  padding: 10px 0;
}

.windSection .content p a {
  color: rgb(117, 117, 117);
}

/* Solar Section */


.solarSection h2 {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 20px;
}

.solarSection {
  min-height: 800px;
  padding: 20px 0;
  background-color: rgb(220, 220, 242);
  background-image: url(../img/pics/picSolar_3.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  position: relative;
  z-index: 1;

}

.solarSection .content {
  max-width: 600px;
  padding: 30px 50px;
  /* text-align: justify; */

  border-radius: 6px;
  line-height: 1.6;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 170px;
  right: 170px
}


.solarSection .content h2 {
  font-size: 40px;
  color: rgb(53, 53, 53);
  padding: 0;
  text-align: left;
  padding: 0 0 4px 0;
  line-height: 1.2;
}

.solarSection .content p {
  padding: 10px 0;
  color: rgb(51, 51, 51);
}

.solarSection .content p a {
  color: rgb(51, 51, 51);
  /* text-decoration: none; */
}


/* Research Section */


.researchSection {
  min-height: 800px;
  padding: 20px 0;
  background-color: rgb(220, 220, 242);
  background-image: url(../img/pics/pic_research_3.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  position: relative;
  z-index: 1;
}