.defineUs {
  background-color: #f6fbfe;
  width: 100%;
  padding: var(--homeSection);
}

.defineUs h2, .services h2, .customers h2, .footprint h2 {
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: var(--accent);
  padding: 20px 0 20px;
  text-align: center;
}

.defineUsTxt1, .serviceText1 {
  font-size: 20px;
  color: var(--txtGrey2);
  text-align: center;
  width: 80%;
  line-height: 1.4;
  margin: 0 auto;
}

.defineUsBoxes {

  margin: 26px 0 0 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  overflow: auto;
  width: 100%;
}

.defineUsBox {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}


.defineUsBox h2 {
  padding: 10px;
  color: var(--accent);
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

.defineUsBox p {
  padding: 0 10px 14px;
  font-size: 14px;
  color: var(--txtGrey1);
}



/* services  */

.services, .customers, .footprint {
  background-color: #ececec;
  width: 100%;
  padding: var(--homeSection);
}

.services {
  background-color: #ececec;
}

.services .container .list {
  margin: 30px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.services .container .service {
  max-width: 400px;
  display: grid;
  grid-template-columns: 50px 1fr;
  margin: 20px 0 0 0;
}

.services .container .service h2 {
  text-align: left;
  font-size: 20px;
  padding: 0px 0 8px 0;
}

.services .container .service p {
  font-size: 14px;
  color: var(--txtGrey1);
}


.services .container .service .serviceIcon img {
  width: 24px;
  height: 24px;
  margin: 0px 0px;
}

.customers {
  background-color: #ffffff;
}

.footprint {
  background-color: #f4f4f6;
  color: rgb(90, 90, 90);
}

.footprint .map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footprint .countries {
  align-items: top;
  width: 230px;
}

.footprint .countries p {
  padding: 60px 0 20px;
  line-height: 1.6;
}


.footprint .countries ul {
  height: 360px;
}


.footprint .countries li {
  list-style: none;
  line-height: 1.6;
  padding: 0 0 0 20px;
  font-size: 18px;
}


@media only screen and (max-width: 800px) {
  .footprint .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .footprint .countries ul {
    columns: 3;
    height: auto;
  }

  .footprint .countries {
    align-items: top;
    width: 90%;
  }
}