    :root {
      --accent: #203060;
      --bg1: #eee;
      --bg2: #ddd;

      --txtLink: #333;
      --txt1: #000;
      --txt2: #fff;
      --txtGrey1: rgb(105, 105, 105);
      --txtGrey2: rgb(160, 160, 160);
      --txtDark1: #ddd;
      --txtLight1: #eee;

      --fonts: 'open sans', sans-serif;
      --header: 70px;
      --main: calc(100vh - var(--header) - var(--footer));
      --footer: 60px;
      --footerBg: #f8faf9;

      --homeSection: 60px 0 60px 0;


      --breakPoint1: 800px;
    }